.container {
  background-color: violet;
  min-height: 500px;
  width: 500px;
  margin: 50px;
  text-align: center;
  color: aliceblue;
  
}

.start {
  background-color: brown;
  height: 50px;
    
}

#end {
  background-color: brown ;
  height: 50px;
}